Importar librerías

In [15]:
import pandas as pd

Importar base de datos a usar

In [16]:
df = pd.read_csv('/content/datos_vehiculos.csv')
df.to_csv('/content/datos_vehiculos.csv', index=False)
#vamos a analizar el presio

Mostrar encabezados

In [18]:
df.head(10)

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol    ?  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0
5   Fiesta  2015  10500       Manual    35432   Petrol    ?  47.9         1.6
6     Puma  2019  22500       Manual     2029   Petrol  145  50.4         1.0
7   Fiesta  2017   9000       Manual    13054   Petrol    ?  54.3         1.2
8     Kuga  2019  25500    Automatic     6894   Diesel  145  42.2         2.0
9    Focus  2018  10000       Manual    48141   Petrol    ?  61.4         1.0

Análisis estadístico básico de los datos

In [19]:
df.describe()

               year         price        mileage           mpg    engineSize
count  17966.000000  17966.000000   17966.000000  17966.000000  17966.000000
mean    2016.866470  12279.534844   23362.608761     57.906980      1.350807
std        2.050336   4741.343657   19472.054349     10.125696      0.432367
min     1996.000000    495.000000       1.000000     20.800000      0.000000
25%     2016.000000   8999.000000    9987.000000     52.300000      1.000000
50%     2017.000000  11291.000000   18242.500000     58.900000      1.200000
75%     2018.000000  15299.000000   31060.000000     65.700000      1.500000
max     2060.000000  54995.000000  177644.000000    201.800000      5.000000

Información de los datos

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17966 entries, 0 to 17965
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         17966 non-null  object
 1   year          17966 non-null  int64
 2   price         17966 non-null  int64
 3   transmission  17966 non-null  object
 4   mileage       17966 non-null  int64
 5   fuelType      17966 non-null  object
 6   tax           17966 non-null  object
 7   mpg           17966 non-null  float64
 8   engineSize    17966 non-null  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 1.2+ MB

Identificar valores faltantes

Convertir ? en NaN

In [21]:
import numpy as np

# reemplazar "?" a NaN
df.replace("?", np.nan, inplace = True)
df.head(10)

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  NaN  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0
5   Fiesta  2015  10500       Manual    35432   Petrol  NaN  47.9         1.6
6     Puma  2019  22500       Manual     2029   Petrol  145  50.4         1.0
7   Fiesta  2017   9000       Manual    13054   Petrol  NaN  54.3         1.2
8     Kuga  2019  25500    Automatic     6894   Diesel  145  42.2         2.0
9    Focus  2018  10000       Manual    48141   Petrol  NaN  61.4         1.0

Valores faltantes en cada columna

In [24]:
df.isnull().sum()

model            0
year             0
price            0
transmission     0
mileage          0
fuelType         0
tax             54
mpg              0
engineSize       0
dtype: int64

Manipulacion de valores faltantes: Reemplazando por su promedio, como en tax hay 54 datos faltantes, estos los reemplazaremos por el promedio de los demas datos de esa columna

Calcular el valor promedio de la columna "tax"

In [30]:
tax_prom = df["tax"].astype("float").mean(axis=0)
print("El promedio de la columna tax es:", tax_prom)

El promedio de la columna tax es: 113.41793211255025

Reemplazar "NaN" con el valor promedio en la columna "tax"

In [33]:
df["tax"].replace(np.nan, tax_prom, inplace=True)
df.head(10)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Fiesta,2017,12000,Automatic,15944,Petrol,113.417932,57.7,1.0
1,Focus,2018,14000,Manual,9083,Petrol,150,57.7,1.0
2,Focus,2017,13000,Manual,12456,Petrol,150,57.7,1.0
3,Fiesta,2019,17500,Manual,10460,Petrol,145,40.3,1.5
4,Fiesta,2019,16500,Automatic,1482,Petrol,145,48.7,1.0
5,Fiesta,2015,10500,Manual,35432,Petrol,113.417932,47.9,1.6
6,Puma,2019,22500,Manual,2029,Petrol,145,50.4,1.0
7,Fiesta,2017,9000,Manual,13054,Petrol,113.417932,54.3,1.2
8,Kuga,2019,25500,Automatic,6894,Diesel,145,42.2,2.0
9,Focus,2018,10000,Manual,48141,Petrol,113.417932,61.4,1.0

Correfir el formato de los datos

In [34]:
df.dtypes

model            object
year              int64
price             int64
transmission     object
mileage           int64
fuelType         object
tax              object
mpg             float64
engineSize      float64
dtype: object

La columna tax se encuentra en formato object, por lo que no se encuentra en un formto apto para trabajarlos, ya que es una variable numerica y su formato debe ser de tipo int o float

In [36]:
df[["tax"]] = df[["tax"]].astype("float")
df.dtypes

model            object
year              int64
price             int64
transmission     object
mileage           int64
fuelType         object
tax             float64
mpg             float64
engineSize      float64
dtype: object

Estandarizar datos de entrada

Transformar **mpg** a **Km/L**:

En el conjunto de datos el consumo de combustible de la columna `mpg` están dados en la únidad de millas por galón o **mpg**. Si se está desarrollando una aplicación en un país que trabaja el consumo de combustible con el estándar de kilómetros por litros **Km/L**, estos valores se deben cambiar.

Por este motivo se necesita aplicar una **transformación de datos** para convertir de **mpg** a **Km/L**.

La fórmula de unidad de conversión es:

1 mpg(US) = 0.425144 Km/L

In [38]:
df.head(7)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Fiesta,2017,12000,Automatic,15944,Petrol,113.417932,57.7,1.0
1,Focus,2018,14000,Manual,9083,Petrol,150.000000,57.7,1.0
2,Focus,2017,13000,Manual,12456,Petrol,150.000000,57.7,1.0
3,Fiesta,2019,17500,Manual,10460,Petrol,145.000000,40.3,1.5
4,Fiesta,2019,16500,Automatic,1482,Petrol,145.000000,48.7,1.0
5,Fiesta,2015,10500,Manual,35432,Petrol,113.417932,47.9,1.6
6,Puma,2019,22500,Manual,2029,Petrol,145.000000,50.4,1.0

In [39]:
df['km/l'] = df["mpg"]*0.425144
df.head(7)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,km/l
0,Fiesta,2017,12000,Automatic,15944,Petrol,113.417932,57.7,1.0,24.530809
1,Focus,2018,14000,Manual,9083,Petrol,150.000000,57.7,1.0,24.530809
2,Focus,2017,13000,Manual,12456,Petrol,150.000000,57.7,1.0,24.530809
3,Fiesta,2019,17500,Manual,10460,Petrol,145.000000,40.3,1.5,17.133303
4,Fiesta,2019,16500,Automatic,1482,Petrol,145.000000,48.7,1.0,20.704513
5,Fiesta,2015,10500,Manual,35432,Petrol,113.417932,47.9,1.6,20.364398
6,Puma,2019,22500,Manual,2029,Petrol,145.000000,50.4,1.0,21.427258

Normalizar datos de entrada

**Objetivo**: Normalizar las variables de la columna engineSize tal que sus rangos de valores estén entre 0 y 1

**Estrategia**: reemplazar el valor original por (valor original)/(valor máximo)

In [41]:
df['engineSizeNorm'] = df['engineSize']/df['engineSize'].max()
df.head(7)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,km/l,engineSizeNorm
0,Fiesta,2017,12000,Automatic,15944,Petrol,113.417932,57.7,1.0,24.530809,0.20
1,Focus,2018,14000,Manual,9083,Petrol,150.000000,57.7,1.0,24.530809,0.20
2,Focus,2017,13000,Manual,12456,Petrol,150.000000,57.7,1.0,24.530809,0.20
3,Fiesta,2019,17500,Manual,10460,Petrol,145.000000,40.3,1.5,17.133303,0.30
4,Fiesta,2019,16500,Automatic,1482,Petrol,145.000000,48.7,1.0,20.704513,0.20
5,Fiesta,2015,10500,Manual,35432,Petrol,113.417932,47.9,1.6,20.364398,0.32
6,Puma,2019,22500,Manual,2029,Petrol,145.000000,50.4,1.0,21.427258,0.20